h1
{
    font-size: 23.8px;
    font-weight: bolder;
}

body
{
    background-image: url(https://images3.alphacoders.com/853/thumb-1920-85305.jpg);
}

#img
{
	height: 60px;
	width: 60px;
	border-radius: 80px;
}

#go{
    height: 50px;
    width: 140px;
    background-color: yellowgreen;
    font-size: 40px;
    border-radius: 12px;
    border-color: tomato;
    border-style: dotted;
    cursor: pointer;
}

#go:hover{
	background-image: linear-gradient(orange, lavender, yellow);;
}

#ig
{
    height:450px;
    width: 450px;
    border-radius: 10px;
    border-color: tomato;
}